<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %highlight(%-5level) [%logger{10} %file:%line] - %msg%n</pattern>
    </encoder>
  </appender>

  <!-- Override component log levels here (for debugging etc.):
  -->

  <!-- General Hadoop logging
  - DEBUG is verbose
  - INFO is nice?
  - WARN is nicer
  -->
  <logger name="org.apache.hadoop" level="warn" />

  <logger name="com.github.mjakubowski84.parquet4s" level="INFO"/>
  <logger name="org.apache.parquet" level="WARN"/>

  <!-- We don't have (need) Hadoop to be installed. Mitigate a warning.
  -->
  <logger name="org.apache.hadoop.util.NativeCodeLoader" level="error" />

  <root level="debug">
    <appender-ref ref="CONSOLE" />
  </root>
</configuration>
